gamedata/
bin/
obj/
build/
*.suo
*.pdb
*.cache
*.log
*.elf
*.nds
*.arm7
*.arm9
*.sdf
*.opensdf
tools/HxDnl/HxD.ini
tools/DeSmuME/desmume.ini
tools/SceneEditor/UpgradeLog.htm
tools/SceneEditor2.0/UpgradeLog.htm
.cproject
.project
.settings/org.eclipse.cdt.core.prefs

tools/grit/gxplog.txt
