code/aRPiGi.nds
code/aRPiGi.arm7
code/aRPiGi.arm9
code/aRPiGi.sdf
code/aRPiGi.opensdf
code/arm7/aRPiGi.arm7.elf
code/arm7/build/
code/arm9/aRPiGi.arm9.elf
code/arm9/build/
gamedata/background.bin
gamedata/background_pal.bin
gamedata/barrel.bin
gamedata/barrel_texture.bin
gamedata/bullet32x32.bin
gamedata/bullet32x32_pal.bin
gamedata/button32x32.bin
gamedata/button32x32_pal.bin
gamedata/camera.bin
gamedata/camera2.bin
gamedata/chair.bin
gamedata/crate.bin
gamedata/crate_texture.bin
gamedata/cube.bin
gamedata/enemy32x32.bin
gamedata/enemy32x32_pal.bin
gamedata/enemy_chicken32x32.bin
gamedata/enemy_chicken32x32_pal.bin
gamedata/enemy_cyclops32x32.bin
gamedata/enemy_cyclops32x32_pal.bin
gamedata/enemy_guard32x32.bin
gamedata/enemy_guard32x32_pal.bin
gamedata/fence_texture128x32.bin
gamedata/fence_texture32x32.bin
gamedata/fence_texture64x32.bin
gamedata/fence_wood_base.bin
gamedata/fence_wood_end.bin
gamedata/floor.bin
gamedata/floor_texture.bin
gamedata/floor_texture16x16.bin
gamedata/focus_pin.bin
gamedata/font8x16@4.bin
gamedata/font8x16@4_pal.bin
gamedata/font8x8@4.bin
gamedata/font8x8@4_pal.bin
gamedata/grass_texture.bin
gamedata/grid.bin
gamedata/grid_texture.bin
gamedata/heater.bin
gamedata/house1.bin
gamedata/house1_16x16.bin
gamedata/house1_32x32.bin
gamedata/house2.bin
gamedata/house2_16x16.bin
gamedata/house3.bin
gamedata/house3_16x16.bin
gamedata/house4.bin
gamedata/house4_16x16.bin
gamedata/link32x32.bin
gamedata/link32x32_pal.bin
gamedata/mailBoxBlack.bin
gamedata/mailbox.bin
gamedata/mailboxBlue.bin
gamedata/mailboxWhite.bin
gamedata/mario.bin
gamedata/mario_back_jump.bin
gamedata/mario_back_run0.bin
gamedata/mario_back_run1.bin
gamedata/mario_back_run2.bin
gamedata/mario_back_standstill.bin
gamedata/mario_jump.bin
gamedata/mario_run0.bin
gamedata/mario_run1.bin
gamedata/mario_run2.bin
gamedata/mario_run2_small.bin
gamedata/mario_standstill.bin
gamedata/mesh_barrel_Barrel.bin
gamedata/mesh_camera2_Cube_Cube.001.bin
gamedata/mesh_camera_Cube_Cube.001.bin
gamedata/mesh_chair_Chair_Plane.bin
gamedata/mesh_crate_Crate.bin
gamedata/mesh_cube_Cube_Cube.001.bin
gamedata/mesh_fence_wood_base_Fence_base.bin
gamedata/mesh_fence_wood_end_Cylinder.bin
gamedata/mesh_floor_Plane.bin
gamedata/mesh_focus_pin_Icosphere.bin
gamedata/mesh_grid_Plane.bin
gamedata/mesh_heater_Circle.003_Circle.bin
gamedata/mesh_mailbox_MailBoxTop_Plane.bin
gamedata/mesh_mailbox_MailboxBox_Plane.002.bin
gamedata/mesh_mailbox_MailboxEntrance_Plane.003.bin
gamedata/mesh_mario_Plane.bin
gamedata/mesh_pipe_Circle.bin
gamedata/mesh_porch_Porch_Cube.bin
gamedata/mesh_shelf_Plane.003.bin
gamedata/mesh_stool_Circle.001_Circle.002.bin
gamedata/mesh_table_Circle_Circle.001.bin
gamedata/mesh_townhouse_Plane.001_Plane.007.bin
gamedata/mesh_townhouse_Plane.003.bin
gamedata/mesh_townhouse_Plane.006_Plane.011.bin
gamedata/mesh_wall1_Plane.bin
gamedata/mesh_wall2_Cube.bin
gamedata/mesh_wall3_Cube.bin
gamedata/metal_texture.bin
gamedata/newExportFormatExample.bin
gamedata/no_texture.bin
gamedata/pipe.bin
gamedata/pipe_texture.bin
gamedata/porch.bin
gamedata/scene.bin
gamedata/scene2.bin
gamedata/sceneCompleet.bin
gamedata/sceneExportTest.bin
gamedata/sceneGroot.bin
gamedata/sceneGrootNewFormat.bin
gamedata/shelf.bin
gamedata/shell_texture.bin
gamedata/shelltest.bin
gamedata/stone_texture128x128.bin
gamedata/stone_texture16x16.bin
gamedata/stone_texture32x32.bin
gamedata/stool.bin
gamedata/table.bin
gamedata/townhouse.bin
gamedata/transp_texture.bin
gamedata/wall1.bin
gamedata/wall2.bin
gamedata/wall3.bin
gamedata/wall_texture.bin
gamedata/wall_texture128x128.bin
gamedata/wall_texture32x32.bin
gamedata/wall_texture64x64.bin
gamedata/wood_texture.bin
gamedata/zeldaset.bin
gamedata/zeldaset_pal.bin
tools/DeSmuME/desmume.ini
code/aRPiGi.v12.suo
tools/DeSmuME/desmume.ini
code/Debug/aRPiGi.log
code/aRPiGi.suo
code/arm7/Debug/arm7.log
code/arm9/Debug/arm9.log
gamedata/
tools/Anything2Bin/Anything2Bin.suo
tools/Anything2Bin/Anything2Bin.v12.suo
tools/Anything2Bin/bin/Debug/Anything2Bin.pdb
tools/Anything2Bin/bin/Debug/Anything2Bin.vshost.exe.manifest
tools/Anything2Bin/obj/x86/Debug/Anything2Bin.csproj.FileListAbsolute.txt
tools/Anything2Bin/obj/x86/Debug/Anything2Bin.csprojResolveAssemblyReference.cache
tools/Anything2Bin/obj/x86/Debug/Anything2Bin.exe
tools/MapEditor/MapEditor.v12.suo
tools/MapEditor/bin/Debug/MapEditor.pdb
tools/MapEditor/bin/Debug/MapEditor.vshost.exe
tools/MapEditor/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
tools/MapEditor/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
tools/MapEditor/obj/x86/Debug/MapEditor.csproj.GenerateResource.Cache
tools/MapEditor/obj/x86/Debug/MapEditor.csprojResolveAssemblyReference.cache
tools/MapEditor/obj/x86/Debug/MapEditor.pdb
tools/SceneEditor/SceneEditor.v12.suo
tools/SceneEditor/UpgradeLog.htm
tools/SceneEditor2.0/SceneEditor2.0.v12.suo
graphics/maps/jumpnbumplevelMapData.bin.bak
tools/Anything2Bin/obj/x86/Debug/Anything2Bin.pdb
tools/SceneEditor2.0/UpgradeLog.htm
.cproject
.project
.settings/org.eclipse.cdt.core.prefs
tools/HxDnl/HxD.ini
